[tool.poetry]
name = "aws-access-analyzer-validator"
version = "0.3.1"
description = "A tool to validate existing identity and resource policies across regions and supported AWS services with AWS IAM Access Analyzer."
authors = ["Sami Jaktholm <sjakthol@outlook.com>"]
license = "MIT"
packages = [
  {include = "aa_validator"}
]
readme = 'README.md'

[tool.poetry.scripts]
aws-access-analyzer-validator = 'aa_validator:main'

[tool.poetry.dependencies]
python = ">=3.7.2,<4.0"
boto3 = "^1.20.17"
pydash = ">=5.0.2,<8.0.0"

[tool.poetry.dev-dependencies]
black = "^23.3"
boto3-stubs = {extras = ["accessanalyzer", "iam", "s3", "sqs", "sns", "ec2"], version = "^1.34.2"}
mypy = "^1.4"
pylint = [
  {version = "^2.17.7", python = "<3.8"},
  {version = "^3.0.1", python = ">=3.8"}
]
pytest = "^7.4.3"
pytest-cov = "^4.1.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
