[tool.poetry]
name = "aws-access-analyzer-validator"
version = "0.2.0"
description = "A tool to validate existing identity and resource policies across regions and supported AWS services with AWS IAM Access Analyzer."
authors = ["Sami Jaktholm <sjakthol@outlook.com>"]
license = "MIT"
packages = [
  {include = "aa_validator.py"},
  {include = "py.typed"}
]
readme = 'README.md'

[tool.poetry.scripts]
aws-access-analyzer-validator = 'aa_validator:main'

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
boto3 = "^1.20.17"
pydash = "^5.0.2"
typing-extensions = ">=3.10,<5.0"

[tool.poetry.dev-dependencies]
bandit = "^1.7.4"
black = "^22.1"
boto3-stubs = {extras = ["accessanalyzer", "iam", "s3", "sqs", "sns", "ec2"], version = "^1.21.18"}
mypy = "^0.931"
pylint = "^2.12.1"
pytest = "^7.1.0"
pytest-cov = "^3.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
